{% extends 'base.html.twig' %}

{% block body %}
    <h1>Register</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form action="{{ path('app_register') }}" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="plainPassword">Password</label>
            <input type="password" id="plainPassword" name="plainPassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
